parameters:
    level: 10
    paths:
        - ../../../seaghi-account
        - ../../../seaghi-battle
        - ../../../seaghi-shop
    excludePaths:
        - */var/*
        - */vendor/*
        - */config/reference.php
        - */tests/*
    bootstrapFiles:
        - ../phpunit/bootstrap.php
